body{
  background-color: #f0eff4;
  color : #000;
  margin:0px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  overflow-x: hidden;
  
}

h1{
  color : #fff
}

header{
  background-color: #6b808c;
  padding: 4px;
  box-shadow: 0 4px 4px -2px gray;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
}

footer{
  background-color: #6b808c;
  padding: 4px;
  box-shadow: 0 4px 4px 2px gray;
  width: 100%;
  text-align: center;
  height: 60px;
  position: sticky;
  bottom: 0;
}

textarea{
  outline : none;
  height: 40px;
  width: 100%; 
}
li{
  list-style: none;

  }