.mainContent {
    height: 80%;
    background-color: #e8e7e4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.overLayText{
    position: absolute;
    bottom: 0;
    height: 30%;
    border-radius: 15px;
    width: 90%;
    text-align: center;
    padding: 15px;
    color: #b9b3b1;
}
.newBtnStyles{
   background-color: rgba(192, 255, 196, 0.541);;
}
.headingText{
    font-size: 20px;
    font-weight: 700;
}

.subheadingText{
     color: #b9b3b1;
}

.btn{
    color: black;
    font-weight: 600;
    height: 40px;
}
.btn:hover{
    cursor: pointer;
}

.rightSection {
    flex: 1
}

.leftSection {
    flex: 1
}